body {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: #f0ffff; /* Cor de fundo da página */
}

body * {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-end; 
    width: 100%; 
}

.card {
    border-radius: 20px; 
    background: #809a9b;
    box-shadow: 0px 10px 40px #809a9b;
    width: 400px; 
    padding: 20px; 
    text-align: center;
}

.image-container {
    flex: 0 0 30%; 
    padding: 20px; 
    text-align: right; 
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: #006466;
}

input[type="password"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #dbe3e3;
    color: #000000de;
    font-size: 1rem;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px; 
}

button {
    width: 50%; 
    padding: 10px; 
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #006466;
    color: #fff; 
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

button:hover {
    background: #005555; 
}

p#resultado {
    font-size: 1.2rem;
    margin-top: 15px; /
}
