body {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    background-color: white; /* Light background color */
}

body * {
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; /* Changed to space-between */
    width: 100%; 
}

.card {
    border-radius: 20px; 
    background: whitesmoke; /* Light gray background color */
    width: 400px; 
    padding: 20px; 
    text-align: center;
}



h1 {
    font-size: 2rem;
    color: #079497; /* Green text color */
}

input[type="password"] {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #e0e0e0; /* Light gray background color */
    color: #000;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px; 
}

button {
    width: 50%;
    padding: 10px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background: #079497; /* Green button color */
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background: #079497; /* Darker green on hover */
}

p#resultado {
    font-size: 1.2rem;
    margin-top: 15px;
}
